{% extends "index.html" %}

{% block title %}千丁目录{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9" role="main">
            <p class="navbar-text navbar-right">来自 <a href="http://sniffer.iqdnet.cn/" class="navbar-link">sniffer</a>
            </p>

            <h3 id="system">环境与系统</h3>

            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">研发dev</h3>
                        </div>
                        <div class="panel-body">
                            <p><a class="btn btn-info" href="http://devboss.qdingnet.com/" target="_blank">devboss</a>
                                <a class="btn btn-info" href="http://devshanghu.qdingnet.com/" target="_blank">商户</a>
                                <a class="btn btn-info" href="http://devproperty.qdingnet.com/" target="_blank">物业</a>
                            </p>
                            <p><a class="btn btn-info" href="http://devfinance.qdingnet.com/" target="_blank">财务</a>
                                <a class="btn btn-info" href="http://devm.iqdnet.com/" target="_blank">移动m</a></p>

                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">测试qa</h3>
                        </div>
                        <div class="panel-body">
                            <p><a class="btn btn-info" href="https://qaqd.qdingnet.com/"
                                  target="_blank">qaqd</a>
                                <a class="btn btn-info" href="https://qashanghu.qdingnet.com/"
                                   target="_blank">商户</a>
                                <a class="btn btn-info" href="http://qatx.qdingnet.com/"
                                   target="_blank">门禁</a></p>
                            <p><a class="btn btn-info" href="http://qafinance.qdingnet.com/"
                                  target="_blank">财务</a>
                                <a class="btn btn-info" href="https://qaproperty.qdingnet.com/"
                                   target="_blank">物业</a>
                                <a class="btn btn-info" href="https://qam.iqdnet.com/" target="_blank">移动m</a></p>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">正式</h3>
                        </div>
                        <div class="panel-body">
                            <p><a class="btn btn-info" href="https://qd.qdingnet.com/" target="_blank">qd</a>
                                <a class="btn btn-info" href="https://shanghu.qdingnet.com/" target="_blank">商户</a>
                                <a class="btn btn-info" href="http://tx.qdingnet.com/" target="_blank">门禁</a>
                                <a class="btn btn-info" href="https://m2.iqdnet.com/" target="_blank">m2</a></p>

                            <p>
                                <a class="btn btn-info" href="https://xqx.qdingnet.com/" target="_blank">xqx</a>

                                <a class="btn btn-info" href="https://property.qdingnet.com/" target="_blank">物业</a>
                                <a class="btn btn-info" href="https://c.qdingnet.com/" target="_blank">罗盘</a>
                            </p>
                            <p><a class="btn btn-success" href="http://bigdata.iqdnet.cn/ds/" target="_blank">大数据</a>
                                <a class="btn btn-danger" href="http://superset.iqdnet.cn/login/" target="_blank">superset</a>


                            </p>


                        </div>

                    </div>
                </div>

            </div>


            <h3 id="qa">千丁质量</h3>

            <div class="row">
                <div class="col-md-4">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">发布系统</h3>
                        </div>
                        <div class="panel-body">
                            <p><a class="btn btn-info" href="http://jenkins.qdingnet.com/" role="button"
                                  target="_blank">Jenkins</a>
                                <a class="btn btn-info" href="http://disconf.qdingnet.com/" role="button"
                                   target="_blank">disconf</a>
                                <a class="btn btn-info" href="http://pm.iqdnet.cn/" role="button" target="_blank">
                                    禅道</a>
                            </p>
                            <p><a class="btn btn-success" href="http://npm.iqdnet.cn/" role="button" target="_blank">
                                新禅道</a>

                                <a class="btn btn-danger" href="https://appmg.iqdnet.com " role="button"
                                   target="_blank">app版本</a>
                            </p>

                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">质量辅助</h3>
                        </div>
                        <div class="panel-body">
                            <a class="btn btn-info" href="http://10.37.253.54:9000/" role="button"
                               target="_blank">sonar</a>

                            <a class="btn btn-info" href="http://10.37.223.2:8080/rango/loginAction_login.action"
                               role="button" target="_blank">Rango</a>
                            <a class="btn btn-info" href="http://sniffer.iqdnet.cn/" role="button"
                               target="_blank">sniffer</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">论坛</h3>
                        </div>
                        <div class="panel-body">
                            <a class="btn btn-info" href="http://wiki.qdingnet.com/" role="button"
                               target="_blank">wiki</a>
                            <a class="btn btn-success" href="http://10.37.253.56:8080/" role="button"
                               target="_blank">wekan</a>


                            <a class="btn btn-info" href="http://10.37.253.54/discuz/forum.php" role="button"
                               target="_blank">质量论坛</a>

                        </div>
                    </div>
                </div>

            </div>

            <h3 id="sq">千丁运维</h3>

            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">发布系统</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <a class="btn btn-info" href="http://ci.iqdnet.cn/" role="button" target="_blank">CI</a>
                                <a class="btn btn-info" href="http://disconf.qdingnet.com/" role="button"
                                   target="_blank">disconf</a>
                                <a class="btn btn-success" href="http://ducter.iqdnet.cn" role="button" target="_blank">ducter</a>
                            </p>

                            <p><a class="btn btn-info" href="http://jump.iqdnet.cn/" role="button"
                                  target="_blank">堡垒机</a>
                                <a class="btn btn-success" href="http://10.37.5.24" role="button"
                                   target="_blank">list</a>
                                <a class="btn btn-success" href="http://ops-ci.iqdnet.cn" role="button"
                                   target="_blank">ops</a>
                            </p>


                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">监控系统</h3>
                        </div>
                        <div class="panel-body">
                            <a class="btn btn-info" href="http://zabbix.iqdnet.cn/" role="button"
                               target="_blank">Zabbix</a>
                            <a class="btn btn-success" href="http://zeppelin.iqdnet.cn/" role="button" target="_blank"
                               style="
    padding-right: 0px;
    padding-left: 1px;
">zeppelin</a>
                            <a class="btn btn-danger" href="http://wukong.iqdnet.cn/wukongbg" role="button"
                               target="_blank">wukong</a>


                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">其他</h3>
                        </div>
                        <div class="panel-body">
                            <a class="btn btn-info" href="http://oa.qdingnet.com" role="button"
                               target="_blank">OA系统</a>
                            <a class="btn btn-info" href="http://mis.qdingnet.com" role="button"
                               target="_blank">mis系统</a>
                        </div>
                    </div>


                </div>

            </div>
        </div>


        <div class="col-md-3">
            <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" role="complementary">
                <ul class="nav bs-docs-sidenav">
                    <li>
                        <a href="#" style="color:rgba(118, 12, 245, 0.74)">千讯</a>
                        <ul>
                            <li><a href="http://qxmg.qdingnet.com/" target="_blank"><kbd>千讯下载</kbd></a></li>

                        </ul>
                    </li>

                    <li class="">


                        <a href="#system">环境与系统</a>
                        <ul>
                            <li class=""><a href="http://svn.qdingnet.com" target="_blank">svn</a></li>
                            <li class=""><a href="http://mvn2.qdingnet.com/nexus/" target="_blank">maven</a></li>
                            <li class=""><a href="http://devboss.qdingnet.com/qding-api/tools/console" target="_blank">api接口</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#qa">千丁质量</a>
                        <ul>
                            <li><a href="http://sniffer.iqdnet.cn/mo/"
                                   target="_blank">系统监控</a></li>
                            <li><a href="http://sniffer.iqdnet.cn/result/snifferresult/" target="_blank">sniffer</a>
                            </li>
                            <li><a href="http://sniffer.iqdnet.cn/tdoa/weeks_online/" target="_blank">上线公告</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#sq">千丁运维</a>
                        <ul>
                            <li><a href="http://10.37.5.24" target="_blank">线上版本清单</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="http://10.37.253.54:8882/jforum" target="_blank">jforum论坛</a>

                    </li>


                </ul>
                <a class="back-to-top" href="#top">
                    返回顶部
                </a>


            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<p>© 千丁互联 2014</p>
<address>

    <a href="mailto:zhaochunyu@qding.me"><strong>chunyu.zhao</strong><br></a>
</address>
{% endblock %}