{% extends "index.html" %}

{% block title %}千丁目录{% endblock %}
{% block navbar %}
{% endblock %}

{% block content %}

<div>


<h3 class="demo-panel-title">Menu</h3>

<p>
        <a href="https://qd.qdingnet.com" type="button" class="btn btn-default">qd</a>
        <a href="#" type="button" class="btn btn-primary">Primary</a>
        <a href="#" type="button" class="btn btn-success">Success</a>
        <a href="#" type="button" class="btn btn-info">Info</a>
        <a href="#" type="button" class="btn btn-warning">Warning</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
      </p>



<h3 class="demo-panel-title">Menu</h3>

<p>
        <a href="https://qd.qdingnet.com" type="button" class="btn btn-default">qd</a>
        <a href="#" type="button" class="btn btn-primary">Primary</a>
        <a href="#" type="button" class="btn btn-success">Success</a>
        <a href="#" type="button" class="btn btn-info">Info</a>
        <a href="#" type="button" class="btn btn-warning">Warning</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
      </p>


<h3 class="demo-panel-title">Menu</h3>

<p>
        <a href="https://qd.qdingnet.com" type="button" class="btn btn-default">qd</a>
        <a href="#" type="button" class="btn btn-primary">Primary</a>
        <a href="#" type="button" class="btn btn-success">Success</a>
        <a href="#" type="button" class="btn btn-info">Info</a>
        <a href="#" type="button" class="btn btn-warning">Warning</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
      </p>


<h3 class="demo-panel-title">Menu</h3>

<p>
        <a href="https://qd.qdingnet.com" type="button" class="btn btn-default">qd</a>
        <a href="#" type="button" class="btn btn-primary">Primary</a>
        <a href="#" type="button" class="btn btn-success">Success</a>
        <a href="#" type="button" class="btn btn-info">Info</a>
        <a href="#" type="button" class="btn btn-warning">Warning</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
      </p>



<h3 class="demo-panel-title">Menu</h3>

<p>
        <a href="https://qd.qdingnet.com" type="button" class="btn btn-default">qd</a>
        <a href="#" type="button" class="btn btn-primary">Primary</a>
        <a href="#" type="button" class="btn btn-success">Success</a>
        <a href="#" type="button" class="btn btn-info">Info</a>
        <a href="#" type="button" class="btn btn-warning">Warning</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
      </p>


<h3 class="demo-panel-title">Menu</h3>

<p>
        <a href="https://qd.qdingnet.com" type="button" class="btn btn-default">qd</a>
        <a href="#" type="button" class="btn btn-primary">Primary</a>
        <a href="#" type="button" class="btn btn-success">Success</a>
        <a href="#" type="button" class="btn btn-info">Info</a>
        <a href="#" type="button" class="btn btn-warning">Warning</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
        <a href="#" type="button" class="btn btn-danger">Danger</a>
      </p>

{% endblock %}

{% block footer %}
<p>© 千丁互联 2014</p>
<address>

    <a href="mailto:zhaochunyu@qding.me"><strong>chunyu.zhao</strong><br></a>
</address>
{% endblock %}