<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-responsive.css' %}">
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<style type="text/css" src="{% static 'bootstrap/css/bootstrap.css' %}"></style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <div class="container">

<div class="row">
			<div class="col-md-4">
               <h2>snifferabout</h2>
                <p>sniffer的初衷是重构接口测试框架，进行功能的扩充上线了svn统计集成，上线任务的统计集成，质量服务台问题记录和处理。</p>
                <p>sniffer使用</p>


    </div>
       </div>

<div class="footer">
      <div class="container">
        <p class="text-muted">zhaochunyu@qding.me </p>
      </div>
    </div>
</body>
</html>