<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
<title>质量团队任务分配：资源报告</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="include/style.css" />
    </head>
<body>
    <div id="wrapper">
         <div id="navigation">
            <ul>
<li><a href="index.html">概览</a></li>

<li><a href="task.html">任务报告</a></li>

<li><a class="active" href="resource.html">资源报告</a></li>
                
<li><a href="eva.html">挣值分析</a></li>

<li><a href="gantt.html">甘特图</a></li>

<li><a href="timeline.html">资源时间线</a></li>
                
<li><a href="montecarlo.html">Monte Carlo 模拟</a></li>
            </ul>
        </div>

        <div id="content">
<h1>质量团队任务分配：<span class="subtitle">资源报告</span></h1>
        <div class="tablewrap">
        <table class="basic" id="resource-report">
            <tr>
<th>名称</td>
<th>开始日期</th>
<th>结束日期</th>
<th>持续时间</th>
<th>完成百分比</th>
<th>分配成本</th>
            </tr>

            <tr class="resource Staff">
<td style="padding-left: 10px;">王红蕾</td>
<td>2017/4/20 上午9:30</td>
<td>2017/6/9 下午6:30</td>
<td>&gt; 10 周 2 天 5.25 小时</td>
<td>86%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">通用业态优化</td> 
<td>2017/4/20 上午9:30</td>
<td>2017/5/4 下午6:30</td>
<td>2 周 1 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">保姆重构-赵芳姑</td> 
<td>2017/4/24 上午9:30</td>
<td>2017/5/5 下午6:30</td>
<td>2 周</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">阶梯团购重构-刘慧</td> 
<td>2017/5/8 上午9:30</td>
<td>2017/5/26 下午6:30</td>
<td>3 周</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">每日鲜Qd发布</td> 
<td>2017/5/22 上午9:30</td>
<td>2017/6/5 下午3:50</td>
<td>&gt; 1 周 4 天 5.25 小时</td>
<td>83%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">每日鲜app3.1发布</td> 
<td>2017/6/1 上午9:30</td>
<td>2017/6/9 下午6:30</td>
<td>1 周 2 天</td>
<td>14%</td>
<td align="right"></td>
            </tr>
 
            <tr class="resource Staff">
<td style="padding-left: 10px;">宋桂芬</td>
<td>2017/4/21 上午9:30</td>
<td>2017/5/26 下午6:30</td>
<td>5 周 1 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">旅游服务-李雷雷</td> 
<td>2017/4/21 上午9:30</td>
<td>2017/5/5 下午6:30</td>
<td>2 周 1 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">阶梯团购重构-刘慧</td> 
<td>2017/5/8 上午9:30</td>
<td>2017/5/26 下午6:30</td>
<td>3 周</td>
<td>100%</td>
<td align="right"></td>
            </tr>
 
            <tr class="resource Staff">
<td style="padding-left: 10px;">郝彬</td>
<td>2017/4/21 上午9:30</td>
<td>2017/5/17 下午6:30</td>
<td>4 周</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">旅游服务-李雷雷</td> 
<td>2017/4/21 上午9:30</td>
<td>2017/5/5 下午6:30</td>
<td>2 周 1 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">商户app-杨玥</td> 
<td>2017/5/5 上午9:30</td>
<td>2017/5/17 下午6:30</td>
<td>1 周 4 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>
 
            <tr class="resource Staff">
<td style="padding-left: 10px;">马晓良</td>
<td>2017/5/22 上午9:30</td>
<td>2017/7/3 下午6:30</td>
<td>&gt; 7 周 2 天 5.25 小时</td>
<td>53%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">每日鲜Qd发布</td> 
<td>2017/5/22 上午9:30</td>
<td>2017/6/5 下午3:50</td>
<td>&gt; 1 周 4 天 5.25 小时</td>
<td>83%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">聚合业态</td> 
<td>2017/5/24 上午9:30</td>
<td>2017/7/3 下午6:30</td>
<td>5 周 3 天</td>
<td>21%</td>
<td align="right"></td>
            </tr>
 
            <tr class="resource Staff">
<td style="padding-left: 10px;">王帅领</td>
<td>2017/4/18 上午9:30</td>
<td>2017/6/16 下午1:10</td>
<td>&lt; 5 周 3 天 2.75 小时</td>
<td>59%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">skyline-段大为</td> 
<td>2017/4/18 上午9:30</td>
<td>2017/4/20 下午6:30</td>
<td>3 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">Pos支付保洁通用</td> 
<td>2017/4/26 上午9:30</td>
<td>2017/5/4 下午6:30</td>
<td>1 周 2 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">crm重构</td> 
<td>2017/5/22 上午9:30</td>
<td>2017/6/16 下午1:10</td>
<td>&lt; 3 周 3 天 2.75 小时</td>
<td>44%</td>
<td align="right"></td>
            </tr>
 
            <tr class="resource Staff">
<td style="padding-left: 10px;">江纯</td>
<td>2017/5/5 上午9:30</td>
<td>2017/6/9 下午1:42</td>
<td>&lt; 4 周 3.25 小时</td>
<td>68%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">商户app-杨玥</td> 
<td>2017/5/5 上午9:30</td>
<td>2017/5/17 下午6:30</td>
<td>1 周 4 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">app3.1</td> 
<td>2017/5/24 上午9:30</td>
<td>2017/6/9 下午1:42</td>
<td>&lt; 2 周 1 天 3.25 小时</td>
<td>53%</td>
<td align="right"></td>
            </tr>
 
            <tr class="resource Staff">
<td style="padding-left: 10px;">裴清洁</td>
<td>2017/4/20 上午9:30</td>
<td>2017/6/9 下午1:42</td>
<td>&lt; 5 周 1 天 7.25 小时</td>
<td>70%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">管家激励后台上线</td> 
<td>2017/4/20 上午9:30</td>
<td>2017/4/26 下午6:30</td>
<td>1 周</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">管家app发布</td> 
<td>2017/4/27 上午9:45</td>
<td>2017/5/1 上午9:45</td>
<td>2 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">管家ios发布</td> 
<td>2017/5/2 上午9:30</td>
<td>2017/5/3 下午6:30</td>
<td>2 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">管家激励迭代</td> 
<td>2017/5/8 下午2:00</td>
<td>2017/5/16 下午6:00</td>
<td>1 周 1 天 4 小时</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">app3.1</td> 
<td>2017/5/24 上午9:30</td>
<td>2017/6/9 下午1:42</td>
<td>&lt; 2 周 1 天 3.25 小时</td>
<td>53%</td>
<td align="right"></td>
            </tr>
 
            <tr class="resource Staff">
<td style="padding-left: 10px;">魏巍</td>
<td>2017/4/18 上午9:30</td>
<td>2017/6/9 下午1:42</td>
<td>&lt; 6 周 1 天 7.25 小时</td>
<td>71%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">管家租售后台上线</td> 
<td>2017/4/18 上午9:30</td>
<td>2017/4/24 下午6:30</td>
<td>1 周</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">管家激励后台上线</td> 
<td>2017/4/20 上午9:30</td>
<td>2017/4/26 下午6:30</td>
<td>1 周</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">管家安卓发布</td> 
<td>2017/4/27 上午9:45</td>
<td>2017/5/1 上午9:45</td>
<td>2 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">管家ios发布</td> 
<td>2017/5/2 上午9:30</td>
<td>2017/5/3 下午6:30</td>
<td>2 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">管家激励迭代</td> 
<td>2017/5/8 下午2:00</td>
<td>2017/5/16 下午6:00</td>
<td>1 周 1 天 4 小时</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">app3.1</td> 
<td>2017/5/24 上午9:30</td>
<td>2017/6/9 下午1:42</td>
<td>&lt; 2 周 1 天 3.25 小时</td>
<td>53%</td>
<td align="right"></td>
            </tr>
 
            <tr class="resource Staff">
<td style="padding-left: 10px;">李妍娴</td>
<td>2017/4/18 上午9:30</td>
<td>2017/6/9 下午1:42</td>
<td>&lt; 4 周 1 天 3.25 小时</td>
<td>60%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">新手礼包-岳文磊</td> 
<td>2017/4/18 上午9:30</td>
<td>2017/4/25 下午6:30</td>
<td>1 周 1 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">新手礼包2期</td> 
<td>2017/5/2 上午9:30</td>
<td>2017/5/5 下午6:30</td>
<td>4 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">app3.1</td> 
<td>2017/5/24 上午9:30</td>
<td>2017/6/9 下午1:42</td>
<td>&lt; 2 周 1 天 3.25 小时</td>
<td>53%</td>
<td align="right"></td>
            </tr>
 
            <tr class="resource Staff">
<td style="padding-left: 10px;">吴亚新</td>
<td>2017/5/22 上午9:30</td>
<td>2017/6/16 下午1:10</td>
<td>&lt; 3 周 3 天 2.75 小时</td>
<td>44%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">crm重构</td> 
<td>2017/5/22 上午9:30</td>
<td>2017/6/16 下午1:10</td>
<td>&lt; 3 周 3 天 2.75 小时</td>
<td>44%</td>
<td align="right"></td>
            </tr>
 
            <tr class="resource Staff">
<td style="padding-left: 10px;">刘静</td>
<td>2017/5/22 上午9:30</td>
<td>2017/6/16 下午1:10</td>
<td>&lt; 3 周 3 天 2.75 小时</td>
<td>44%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">crm重构</td> 
<td>2017/5/22 上午9:30</td>
<td>2017/6/16 下午1:10</td>
<td>&lt; 3 周 3 天 2.75 小时</td>
<td>44%</td>
<td align="right"></td>
            </tr>
 
            <tr class="resource Staff">
<td style="padding-left: 10px;">冯静</td>
<td>2017/4/18 上午9:30</td>
<td>2017/6/22 上午9:45</td>
<td>6 周 4 天</td>
<td>43%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">skyline-段大为</td> 
<td>2017/4/18 上午9:30</td>
<td>2017/4/20 下午6:30</td>
<td>3 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">商户app-杨玥</td> 
<td>2017/5/5 上午9:30</td>
<td>2017/5/17 下午6:30</td>
<td>1 周 4 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">车管-蒋志斌</td> 
<td>2017/5/22 上午9:45</td>
<td>2017/6/22 上午9:45</td>
<td>4 周 2 天</td>
<td>0%</td>
<td align="right"></td>
            </tr>
 
            <tr class="resource Staff">
<td style="padding-left: 10px;">李晓晓</td>
<td>2017/4/24 上午9:30</td>
<td>2017/6/9 下午6:30</td>
<td>&gt; 8 周 1 天 5.25 小时</td>
<td>84%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">保姆重构-赵芳姑</td> 
<td>2017/4/24 上午9:30</td>
<td>2017/5/5 下午6:30</td>
<td>2 周</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">阶梯团购重构-刘慧</td> 
<td>2017/5/8 上午9:30</td>
<td>2017/5/26 下午6:30</td>
<td>3 周</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">每日鲜Qd发布</td> 
<td>2017/5/22 上午9:30</td>
<td>2017/6/5 下午3:50</td>
<td>&gt; 1 周 4 天 5.25 小时</td>
<td>83%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">每日鲜app3.1发布</td> 
<td>2017/6/1 上午9:30</td>
<td>2017/6/9 下午6:30</td>
<td>1 周 2 天</td>
<td>14%</td>
<td align="right"></td>
            </tr>
 
            <tr class="resource Staff">
<td style="padding-left: 10px;">邢俊英</td>
<td>2017/4/20 上午9:30</td>
<td>2017/6/9 下午1:42</td>
<td>&lt; 3 周 1 天 3.25 小时</td>
<td>62%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">管家激励后台上线</td> 
<td>2017/4/20 上午9:30</td>
<td>2017/4/26 下午6:30</td>
<td>1 周</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">app3.1</td> 
<td>2017/5/24 上午9:30</td>
<td>2017/6/9 下午1:42</td>
<td>&lt; 2 周 1 天 3.25 小时</td>
<td>53%</td>
<td align="right"></td>
            </tr>
 
            <tr class="resource Staff">
<td style="padding-left: 10px;">张伟02</td>
<td>2017/4/26 上午9:30</td>
<td>2017/6/8 下午6:30</td>
<td>2 周 4 天</td>
<td>76%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">Pos支付保洁通用</td> 
<td>2017/4/26 上午9:30</td>
<td>2017/5/4 下午6:30</td>
<td>1 周 2 天</td>
<td>100%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">二期</td> 
<td>2017/5/31 上午9:30</td>
<td>2017/6/8 下午6:30</td>
<td>1 周 2 天</td>
<td>29%</td>
<td align="right"></td>
            </tr>
 
            <tr class="resource Staff">
<td style="padding-left: 10px;">张召强</td>
<td>2017/5/22 上午9:45</td>
<td>2017/6/22 上午9:45</td>
<td>4 周 2 天</td>
<td>0%</td>
<td align="right"></td>
            </tr>

            <tr>
<td style="padding-left: 18px;" class="wrap taskTypeTask">车管-蒋志斌</td> 
<td>2017/5/22 上午9:45</td>
<td>2017/6/22 上午9:45</td>
<td>4 周 2 天</td>
<td>0%</td>
<td align="right"></td>
            </tr>
 
            <tr class="resource Staff">
<td style="padding-left: 10px;">罗浩</td>
<td></td>
<td></td>
<td>0 小时</td>
<td></td>
<td align="right"></td>
            </tr>
 
        </table>
        </div>
<p class="footer">输出日期 2017/6/1</p>
    </div>
</body>
</html>
