<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
<title>质量团队任务分配：任务报告</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="include/style.css" />
    </head>
<body>
    <div id="wrapper">
         <div id="navigation">
            <ul>
<li><a href="index.html">概览</a></li>

<li><a class="active" href="task.html">任务报告</a></li>

<li><a href="resource.html">资源报告</a></li>
                
<li><a href="eva.html">挣值分析</a></li>

<li><a href="gantt.html">甘特图</a></li>

<li><a href="timeline.html">资源时间线</a></li>
                
<li><a href="montecarlo.html">Monte Carlo 模拟</a></li>
            </ul>
        </div>

        <div id="content">
<h1>质量团队任务分配：<span class="subtitle">任务报告</span></h1>
        <div class="tablewrap">
        <table class="basic" id="task-report">
            <tr>
<th>任务</th>
<th>开始</th>
<th>结束</th>
<th>持续时间</th>
<th>已完成</th>
<th>相关性</th>
<th>总成本</th>
<th>已分配</th>
<th>计划的开始</th>
<th>开始差异</th>
<th>时限开始</th>
<th>计划的结束</th>
<th>结束差异</th>
<th>时限结束</th>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 18px;" class="wrap">1) 保姆重构-赵芳姑</td>
<td>2017/4/24 上午9:30</td>
<td>2017/5/5 下午6:30</td>
<td>2 周</td>
<td>100%</td>
<td></td>
<td align="right"></td>
<td>王红蕾; 李晓晓</td>
<td>2017/4/24 上午9:30</td>
<td>0 小时</td>
<td>2017/4/24 上午8:00</td>
<td>2017/5/5 下午6:30</td>
<td>0 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 18px;" class="wrap">2) 阶梯团购重构-刘慧</td>
<td>2017/5/8 上午9:30</td>
<td>2017/5/26 下午6:30</td>
<td>3 周</td>
<td>100%</td>
<td></td>
<td align="right"></td>
<td>王红蕾; 宋桂芬; 李晓晓</td>
<td>2017/5/5 上午9:30</td>
<td>1 天</td>
<td>2017/5/8 上午9:30</td>
<td>2017/5/18 下午6:30</td>
<td>1 周 1 天</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 18px;" class="wrap">3) 旅游服务-李雷雷</td>
<td>2017/4/21 上午9:30</td>
<td>2017/5/5 下午6:30</td>
<td>2 周 1 天</td>
<td>100%</td>
<td></td>
<td align="right"></td>
<td>宋桂芬; 郝彬</td>
<td>2017/4/21 上午9:30</td>
<td>0 小时</td>
<td>2017/4/21 上午9:30</td>
<td>2017/5/5 下午6:30</td>
<td>0 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 18px;" class="wrap">4) Pos支付保洁通用</td>
<td>2017/4/26 上午9:30</td>
<td>2017/5/4 下午6:30</td>
<td>1 周 2 天</td>
<td>100%</td>
<td></td>
<td align="right"></td>
<td>张伟02; 王帅领</td>
<td>2017/4/26 上午9:30</td>
<td>0 小时</td>
<td>2017/4/26 上午9:30</td>
<td>2017/5/2 下午6:30</td>
<td>2 天</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 18px;" class="wrap">5) 商户app-杨玥</td>
<td>2017/5/5 上午9:30</td>
<td>2017/5/17 下午6:30</td>
<td>1 周 4 天</td>
<td>100%</td>
<td></td>
<td align="right"></td>
<td>郝彬; 冯静; 江纯</td>
<td>2017/5/5 上午9:30</td>
<td>0 小时</td>
<td>2017/5/5 上午9:30</td>
<td>2017/5/17 下午6:30</td>
<td>0 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 18px;" class="wrap">6) 通用业态优化</td>
<td>2017/4/20 上午9:30</td>
<td>2017/5/4 下午6:30</td>
<td>2 周 1 天</td>
<td>100%</td>
<td></td>
<td align="right"></td>
<td>王红蕾</td>
<td>2017/4/20 上午9:30</td>
<td>0 小时</td>
<td>2017/4/20 上午9:30</td>
<td>2017/5/4 下午6:30</td>
<td>0 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 18px;" class="wrap">7) 管家激励迭代</td>
<td>2017/5/8 下午2:00</td>
<td>2017/5/16 下午6:00</td>
<td>1 周 1 天 4 小时</td>
<td>100%</td>
<td></td>
<td align="right"></td>
<td>魏巍; 裴清洁</td>
<td></td>
<td></td>
<td>2017/5/8 下午2:00</td>
<td></td>
<td></td>
<td></td>
            </tr>

            <tr class="taskTypeGroup">
<td style="padding-left: 18px;" class="wrap">8) 管家激励-范丽丽</td>
<td>2017/4/20 上午9:30</td>
<td>2017/5/3 下午6:30</td>
<td>2 周</td>
<td>100%</td>
<td></td>
<td align="right"></td>
<td></td>
<td>2017/4/20 上午9:30</td>
<td>0 小时</td>
<td>2017/4/20 上午9:30</td>
<td>2017/5/3 下午6:30</td>
<td>0 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 28px;" class="wrap">8.1) 管家激励后台上线</td>
<td>2017/4/20 上午9:30</td>
<td>2017/4/26 下午6:30</td>
<td>1 周</td>
<td>100%</td>
<td></td>
<td align="right"></td>
<td>裴清洁; 邢俊英; 魏巍</td>
<td>2017/4/20 上午9:30</td>
<td>0 小时</td>
<td>2017/4/18 下午6:15</td>
<td>2017/4/26 下午6:30</td>
<td>0 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 28px;" class="wrap">8.2) 管家app发布</td>
<td>2017/4/27 上午9:45</td>
<td>2017/5/1 上午9:45</td>
<td>2 天</td>
<td>100%</td>
<td></td>
<td align="right"></td>
<td>裴清洁</td>
<td>2017/4/27 上午9:45</td>
<td>0 小时</td>
<td>2017/4/27 上午9:45</td>
<td>2017/5/1 上午9:45</td>
<td>0 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 28px;" class="wrap">8.3) 管家ios发布</td>
<td>2017/5/2 上午9:30</td>
<td>2017/5/3 下午6:30</td>
<td>2 天</td>
<td>100%</td>
<td>8.2</td>
<td align="right"></td>
<td>裴清洁</td>
<td>2017/5/2 上午9:30</td>
<td>0 小时</td>
<td>2017/5/2 上午9:30</td>
<td>2017/5/3 下午6:30</td>
<td>0 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeGroup">
<td style="padding-left: 18px;" class="wrap">9) 管家租售app-张华</td>
<td>2017/4/18 上午9:30</td>
<td>2017/5/3 下午6:30</td>
<td>2 周 2 天</td>
<td>100%</td>
<td></td>
<td align="right"></td>
<td></td>
<td>2017/4/18 上午9:30</td>
<td>0 小时</td>
<td>2017/4/18 上午9:30</td>
<td>2017/5/3 下午6:30</td>
<td>0 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 28px;" class="wrap">9.1) 管家租售后台上线</td>
<td>2017/4/18 上午9:30</td>
<td>2017/4/24 下午6:30</td>
<td>1 周</td>
<td>100%</td>
<td></td>
<td align="right"></td>
<td>魏巍</td>
<td>2017/4/18 上午9:30</td>
<td>0 小时</td>
<td>2017/4/17 下午6:15</td>
<td>2017/4/24 下午6:30</td>
<td>0 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeGroup">
<td style="padding-left: 28px;" class="wrap">9.2) 管家app发布</td>
<td>2017/4/27 上午9:45</td>
<td>2017/5/3 下午6:30</td>
<td>4 天 7.75 小时</td>
<td>100%</td>
<td>9.1</td>
<td align="right"></td>
<td></td>
<td>2017/4/27 上午9:45</td>
<td>0 小时</td>
<td>2017/4/27 上午9:45</td>
<td>2017/5/3 下午6:30</td>
<td>0 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 38px;" class="wrap">9.2.1) 管家安卓发布</td>
<td>2017/4/27 上午9:45</td>
<td>2017/5/1 上午9:45</td>
<td>2 天</td>
<td>100%</td>
<td></td>
<td align="right"></td>
<td>魏巍</td>
<td>2017/4/27 上午9:45</td>
<td>0 小时</td>
<td>2017/4/27 上午9:30</td>
<td>2017/5/1 上午9:45</td>
<td>0 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 38px;" class="wrap">9.2.2) 管家ios发布</td>
<td>2017/5/2 上午9:30</td>
<td>2017/5/3 下午6:30</td>
<td>2 天</td>
<td>100%</td>
<td></td>
<td align="right"></td>
<td>魏巍</td>
<td>2017/5/2 上午9:30</td>
<td>0 小时</td>
<td>2017/5/2 上午9:30</td>
<td>2017/5/3 下午6:30</td>
<td>0 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 18px;" class="wrap">10) 新手礼包-岳文磊</td>
<td>2017/4/18 上午9:30</td>
<td>2017/4/25 下午6:30</td>
<td>1 周 1 天</td>
<td>100%</td>
<td></td>
<td align="right"></td>
<td>李妍娴</td>
<td>2017/4/18 上午9:30</td>
<td>0 小时</td>
<td></td>
<td>2017/4/25 下午6:30</td>
<td>0 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 18px;" class="wrap">11) 新手礼包2期</td>
<td>2017/5/2 上午9:30</td>
<td>2017/5/5 下午6:30</td>
<td>4 天</td>
<td>100%</td>
<td>10</td>
<td align="right"></td>
<td>李妍娴</td>
<td>2017/5/2 上午9:45</td>
<td>-0.25 小时</td>
<td>2017/5/2 上午9:30</td>
<td>2017/5/3 上午9:45</td>
<td>2 天 7.75 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 18px;" class="wrap">12) skyline-段大为</td>
<td>2017/4/18 上午9:30</td>
<td>2017/4/20 下午6:30</td>
<td>3 天</td>
<td>100%</td>
<td></td>
<td align="right"></td>
<td>冯静; 王帅领</td>
<td>2017/4/18 上午9:30</td>
<td>0 小时</td>
<td>2017/4/18 上午12:00</td>
<td>2017/4/20 下午6:30</td>
<td>0 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeGroup">
<td style="padding-left: 18px;" class="wrap">13) 保底费-李丹</td>
<td>2017/5/31 上午9:30</td>
<td>2017/6/8 下午6:30</td>
<td>1 周 2 天</td>
<td>29%</td>
<td></td>
<td align="right"></td>
<td></td>
<td>2017/4/24 上午9:30</td>
<td>5 周 1 天</td>
<td>2017/5/31 上午9:30</td>
<td>2017/5/2 下午6:30</td>
<td>5 周 1 天</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 28px;" class="wrap">13.1) 二期</td>
<td>2017/5/31 上午9:30</td>
<td>2017/6/8 下午6:30</td>
<td>1 周 2 天</td>
<td>29%</td>
<td></td>
<td align="right"></td>
<td>张伟02</td>
<td></td>
<td></td>
<td>2017/5/31 上午9:30</td>
<td></td>
<td></td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 18px;" class="wrap">14) 车管-蒋志斌</td>
<td>2017/5/22 上午9:45</td>
<td>2017/6/22 上午9:45</td>
<td>4 周 3 天</td>
<td>0%</td>
<td></td>
<td align="right"></td>
<td>张召强; 冯静</td>
<td>2017/5/10 上午9:45</td>
<td>1 周 3 天</td>
<td></td>
<td>2017/6/30 上午9:45</td>
<td>-1 周 1 天</td>
<td></td>
            </tr>

            <tr class="taskTypeGroup">
<td style="padding-left: 18px;" class="wrap">15) 每日鲜-杨玥</td>
<td>2017/5/22 上午9:30</td>
<td>2017/6/9 下午6:30</td>
<td>2 周 4 天</td>
<td>60%</td>
<td></td>
<td align="right"></td>
<td></td>
<td>2017/5/22 上午9:30</td>
<td>0 小时</td>
<td>2017/5/22 上午9:30</td>
<td>2017/6/6 下午6:30</td>
<td>3 天</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 28px;" class="wrap">15.1) 每日鲜Qd发布</td>
<td>2017/5/22 上午9:30</td>
<td>2017/6/5 下午3:50</td>
<td>2 周 5.333 小时</td>
<td>83%</td>
<td></td>
<td align="right"></td>
<td>马晓良; 李晓晓; 王红蕾</td>
<td>2017/5/22 上午9:30</td>
<td>0 小时</td>
<td>2017/4/25 上午9:30</td>
<td>2017/6/5 下午3:50</td>
<td>0 小时</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 28px;" class="wrap">15.2) 每日鲜app3.1发布</td>
<td>2017/6/1 上午9:30</td>
<td>2017/6/9 下午6:30</td>
<td>1 周 2 天</td>
<td>14%</td>
<td></td>
<td align="right"></td>
<td>李晓晓; 王红蕾</td>
<td>2017/5/24 上午9:30</td>
<td>1 周</td>
<td>2017/6/1 上午9:30</td>
<td>2017/6/6 下午6:30</td>
<td>3 天</td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 18px;" class="wrap">16) crm重构</td>
<td>2017/5/22 上午9:30</td>
<td>2017/6/16 下午1:10</td>
<td>3 周 3 天 2.667 小时</td>
<td>44%</td>
<td></td>
<td align="right"></td>
<td>王帅领; 刘静; 吴亚新</td>
<td></td>
<td></td>
<td>2017/5/22 上午9:30</td>
<td></td>
<td></td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 18px;" class="wrap">17) app3.1</td>
<td>2017/5/24 上午9:30</td>
<td>2017/6/9 下午1:42</td>
<td>2 周 1 天 3.2 小时</td>
<td>53%</td>
<td></td>
<td align="right"></td>
<td>裴清洁; 江纯; 李妍娴; 邢俊英; 魏巍</td>
<td></td>
<td></td>
<td>2017/5/24 上午9:30</td>
<td></td>
<td></td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 18px;" class="wrap">18) 聚合业态</td>
<td>2017/5/24 上午9:30</td>
<td>2017/7/3 下午6:30</td>
<td>5 周 3 天</td>
<td>21%</td>
<td></td>
<td align="right"></td>
<td>马晓良</td>
<td></td>
<td></td>
<td>2017/5/24 上午9:30</td>
<td></td>
<td></td>
<td></td>
            </tr>

            <tr class="taskTypeTask">
<td style="padding-left: 18px;" class="wrap">19) 管家重构-周长胤</td>
<td>2017/5/29 上午9:30</td>
<td>2017/6/5 下午6:30</td>
<td>1 周 1 天</td>
<td>50%</td>
<td></td>
<td align="right"></td>
<td></td>
<td>2017/5/11 上午9:30</td>
<td>2 周 3 天</td>
<td></td>
<td>2017/5/18 下午6:30</td>
<td>2 周 1 天</td>
<td></td>
            </tr>

        </table>
        </div>
<p class="footer">输出日期 2017/6/1</p>
    </div>
</body>
</html>
